<div id="myWidget"></div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=_turnstileCb" async defer></script>

<script>
    // This function is called when the Turnstile script is loaded and ready to be used.
    // The function name matches the "onload=..." parameter.
    function _turnstileCb() {
        console.debug('_turnstileCb called');
    
        turnstile.render('#myWidget', {
          sitekey: '0x4AAAAAAAQiM5LO6WzbtLin',
          theme: 'light',
        });
    }
</script>
